RewriteEngine On

#RewriteRule ^download/(\w+)/?$ download.php?filecode=$1
RewriteRule ^login/?$ login.php
RewriteRule ^register/?$ register.php
RewriteRule ^/?$ views/index.php
RewriteRule ^otp/?$ sms.php
RewriteRule ^search/?$ views/search.php
#RewriteRule ^search/(\w+)/(\w+)/?$ views/search.php?term=$1&type=$2
#RewriteRule ^login/(\w+)/(\w+)/?$ login.php?id=$1&code=$2
RewriteRule ^crawl/?$ views/crawl.php
RewriteRule ^clicks/?$ views/api/updateLink.php
RewriteRule ^image/clicks/?$ views/api/updateImageLinks.php
RewriteRule ^broken/?$ views/api/brokenLinks.php
RewriteRule ^crawlDesc/?$ views/crawlDesc.php
RewriteRule ^crawlTitle/?$ views/crawlTitle.php
RewriteRule ^crawlImages/?$ views/crawlImage.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* error/404/ [L]