/* header Box style */
.header{
    background-color: #fafafa;
    border-bottom: 1px solid #eebbee;    
}
.wrapper .headerContent{
  display: flex;
  align-items: center;
}

.wrapper .searchContainer{
    flex:1;
}
.wrapper .searchContainer form {
    margin: 15px 0 28px 0;
  }
.headerContent .logoContainer{
    width:150px;
    padding: 5px 20px ;
    box-sizing: border-box; 
}

.headerContent .searchBarContainer{
    height: 44px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    max-width:630px; 
    box-sizing: border-box;
    display: flex;

}

.headerContent .searchBarContainer .searchBox{
  flex:1;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
  color:#000;    
}

.headerContent .searchBarContainer .searchButton{
    background-color: #fff;
    margin-top: 0;
    padding-right: 20px;
    width:44px;
    height:44px;      
}

.headerContent .searchBarContainer .searchButton img{
    width:22px;
}
/* header Box style End */
/* Tabs Container Start */
.tabsContainer{
    margin-left: 150px;
}
.tabsContainer .tabList{
    padding: 0;
    margin: 0;    
}

.tabsContainer .tabList li{
    display: inline-block;
    padding: 0 16px 12px 16px;
    color: #777;
    font-size:13px;
}

.tabsContainer .tabList li a {
    text-decoration: none;
}

.tabsContainer .tabList li.active {
    border-bottom: 3px solid #e8aa00 ;
}

.tabsContainer .tabList li.active a{
    font-weight: bold; 
    color:#e8aa00 ;
}
/* Tabs Container End */

/* Main Results Section Start */
.mainResultsSection{
    flex: 1;
}

.mainResultsSection .resultsCount{
    font-size: 13px;
    color:#e8aa00;
    margin-left: 150px;
}

.mainResultsSection .siteResults{
    margin-left: 150px;
}


.resultsContainer{
    display:flex;
    flex-direction: column;
    margin-bottom: 26px;
}


.resultsContainer .title{
    margin:0;
}



.resultsContainer .title a{
    color:#e8aa00;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
}

.resultsContainer .title a:hover{
    text-decoration: underline;
}

.resultsContainer .url{
    color:#006621;
    font-size: 14px;
} 

.resultsContainer .description{
    font-size: 14px;
    margin-bottom:-12px;
} 
/*  Main Results Section End */

  

/* #f2d038 */
/* #ebc726 */

/* Pagination Container Start */
.paginationContainer{
    display:flex;
    justify-content: center;
    margin-bottom: 25px;
}

.pageButtons{
    display:flex;
}

.pageNumberContainer img{
   height:37px;

}
.pageNumberContainer,
.pageNumberContainer a{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-decoration:none;
}

.pageNumber{
   color: #e8aa00;
   font-size: 13px; 
   margin: 30px;
}

a .pageNumber{
   color:#000;  
}

/* Pagination Container End */

/* Image Results */
.mainResultsSection .imageResults{
    margin:20px;
}



.gridItem img{
    max-width: 200px;
    min-width: 50px;
    visibility: hidden;
}


.gridItem .details{
   visibility: hidden;
   position:absolute;
   bottom:0px;
   left:0px;
   width:100%;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.8);
   color:#fff;
   font-size: 11px;
   padding: 3px;
   box-sizing: border-box;
   white-space: nowrap;
} 

.gridItem:hover .details{
    visibility: visible;
}
/* Image Results End */